@import "./variables/globals";
@import "./reset";
@import "./themes/light";
@import "./themes/dark";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content {
    display: flex;
    height: calc(100vh - var(--header-height));
}
