@import "./variables/globals";
@import "./reset";
@import "./themes/light";
@import "./themes/dark";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.content {
  display: flex;
  height: calc(100vh - var(--header-height));
}

.content__wrapper {
  flex-grow: 1;
  background: var(--bg-color);
}
