.workspaces {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
}
.title {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 0 10px;
}
.clear {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 34px;
}
