.workspaces {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.clear {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 34px;
}
