.form {
    width: 500px;
    height: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_info {
    font-size: 12px;
    color: gray;
}

.form_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
    height: 55px;
    padding: 0 0 15px;

    &_left {
        display: flex;
        flex-direction: column;
        height: 55px;
    }

    &_right {
        display: flex;
        align-items: center;

        button {
            width: 22px;
            height: 22px;
        }
    }
}

.form_center {
    display: flex;
    flex-direction: column;
    height: 600px;
    position: relative;

    &_stage {
        padding: 0 0 15px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #d9d9d9;

        .stageBlock {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .btn_stage {
            width: 22px;
            height: 22px;

            svg {
                rotate: 90deg;
                transition: 0.3s all ease-in-out;
            }
        }

        .opened {
            svg {
                rotate: 270deg;
            }
        }
    }

    &_desc {
        padding: 0 0 15px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #d9d9d9;

        .descBlock {
            display: flex;
            gap: 10px;
        }

        .desc {
            height: 260px;
            font-size: 16px;
            width: 460px;
            overflow: auto;
        }
    }

    &_priority {
        display: flex;
        flex-direction: column;
        padding: 0 0 15px;
        border-bottom: 1px solid #d9d9d9;
        position: relative;

        .priority {
            width: 140px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
        }

        .priorityBlock {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .Low {
            background: #5fff81;
            color: black;
        }

        .Medium {
            background: #fdfb60;
            color: black;
        }

        .High {
            background: #fd6060;
            color: black;
        }
    }

    &_due {
        display: flex;
        padding: 0 0 15px;
        border-bottom: 1px solid #d9d9d9;
        flex-direction: column;
    }

    .dueBlock {
        display: flex;
        gap: 10px;
    }
}

.form_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_right {
        display: flex;
        gap: 10px;
    }

    .btn_delete {
        display: flex;
        align-items: center;
        padding: 5px;
        background: #fdb1b1;
        border-radius: 7px;
        height: 38px;
    }

    .btn_cancel {
        padding: 6px;
        width: 65px;
        height: 38px;
        background: #f7f8f9;
        border: 1px solid #d9d9d9;
        border-radius: 7px;
    }

    .btn_save {
        width: 65px;
        height: 38px;
        padding: 6px;
        color: #fff;
        background: #1677ff;
        box-shadow: 0 2px 0 rgb(229 244 255 / 93%);
        border: 1px solid #d9d9d9;
        border-radius: 7px;
    }

    .btn_edit {
        width: 65px;
        height: 38px;
        padding: 6px;
        color: #fff;
        background: #1677ff;
        box-shadow: 0 2px 0 rgb(229 244 255 / 93%);
        border: 1px solid #d9d9d9;
        border-radius: 7px;
    }
}

.edit_title {
    border-radius: 7px;
    border: 1px solid #d9d9d9;
    padding: 2px 2px 2px 8px;

    &:focus {
        outline: none;
        border-color: var(--link-color);
        box-shadow: 0 0 5px rgb(0 123 255 / 34.9%); /* Тень при фокусе */
    }
}

.edit_desc {
    width: 460px;
    height: 260px;

    textarea {
        resize: none;
        padding: 5px;
        border-radius: 7px;
        border: 1px solid #d9d9d9;
    }

    &:focus {
        outline: none;
        border-color: var(--link-color);
        box-shadow: 0 0 5px rgb(0 123 255 / 34.9%); /* Тень при фокусе */
    }
}

.stage_modal {
    width: 120px;
    top: 55px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0 0 0 / 41.8%);

    ul {
        width: 100%;
        padding: 5px 0;
    }

    li {
        padding: 5px;
        border-radius: 6px;
        list-style: none;
        width: 120px;
        cursor: pointer;

        &:hover {
            background: rgb(0 0 0 / 11%);
        }
    }
}

.priority_modal {
    width: 135px;
    top: 55px;
    left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0 0 0 / 41.8%);

    &_wrapper {
        display: flex;
        flex-direction: column;
        height: 125px;
        justify-content: center;
        gap: 6px;
        width: 100%;

        &_low:hover {
            background: #5fff81;
        }

        &_medium:hover {
            background: #fdfb60;
        }

        &_high:hover {
            background: #fd6060;
        }
    }

    span {
        padding: 5px;
        border-radius: 6px;
        cursor: pointer;
    }
}
