.eventForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event {
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-bottom: 1px solid var(--border-color);
        .close_btn {
            width: 20px;
            height: 20px;
        }
    }
}
.info {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    &_item {
        display: flex;
        align-items: center;
        height: 50px;
        gap: 10px;
    }
    &_desc {
        display: flex;
        gap: 10px;
    }
}
.icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
.color_box {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    cursor: pointer;
}
.buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    &_right {
        display: flex;
        gap: 10px;
    }
    .btn_delete {
        display: flex;
        align-items: center;
        padding: 5px;
        background: var(--delete-color);
        border-radius: 7px;
        height: 38px;
    }

    .btn_cancel {
        padding: 6px;
        width: 65px;
        height: 38px;
        background: var(--secondary-color);
        border: 1px solid var(--border-color);
        border-radius: 7px;
    }

    .btn_save {
        width: 65px;
        height: 38px;
        padding: 6px;
        color: #fff;
        background: #1677ff;
        box-shadow: 0 2px 0 var(--box-shadow-color);
        border: 1px solid var(--border-color);
        border-radius: 7px;
    }

    .btn_edit {
        width: 65px;
        height: 38px;
        padding: 6px;
        color: #fff;
        background: #1677ff;
        box-shadow: 0 2px 0 var(--box-shadow-color);
        border: 1px solid var(--border-color);
        border-radius: 7px;
    }
}
.edit {
    &_title {
        border-radius: 7px;
        border: 1px solid var(--border-color);
        padding: 2px 2px 2px 8px;
        background: var(--secondary-color);
        color: var(--primary-color);
        &:focus {
            outline: none;
            border-color: var(--border-color);
            box-shadow: 0 0 5px var(--box-shadow-color);
        }
    }
    &_desc {
        width: 100%;
        textarea {
            background: var(--secondary-color);
            resize: none;
            padding: 5px;
            border-radius: 7px;
            border: 1px solid var(--border-color);
            width: 100%;
            height: 450px;
            color: var(--primary-color);
            &:focus {
                outline: none;
                border-color: var(--border-color);
                box-shadow: 0 0 5px rgb(0 123 255 / 34.9%);
            }
        }
    }
}
.picker {
    top: -87px;
}
