.story {
    position: absolute;
    z-index: var(--modal-z-index);
    background: var(--edit-task-bg);
    width: 100px;
    height: 117px;
    left: -100px;
    top: -27px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0 0 0 / 41.8%);
}

.variables_list {
    list-style: none;
    overflow: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.variable {
    height: 40px;
    width: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background: var(--modal-task-hover);
    }
}

.active {
    background: var(--edit-modal-hover-color);

    &:hover {
        background: var(--edit-modal-hover-color);
    }
}
