.backlog_title {
    display: flex;
    background: white;
    height: 40px;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
    justify-content: space-between;
}

.backlog_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;

    &_title {
        cursor: pointer;
    }
}
