.modal {
    position: fixed;
    inset: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-bg-color);
    display: flex;
    justify-content: flex-end;
}

.content {
    padding: 20px;
    border-radius: 12px 0 0 12px;
    background: var(--modal-bg-color);
    transition: 0.4s transform;
    transform: translateX(100%);
    max-width: 60%;
    width: 400px;
}

.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: var(--modal-z-index);

    .content {
        transform: translateX(0);
    }
}

.closed {
    .content {
        transform: translateX(100%);
    }
}
.right {
    color: red;
}
