.editBlock {
    display: flex;
    align-items: center;
}

.input_edit {
    border: 1px solid var(--border-color);
    border-radius: 6px 0 0 6px;
    border-right: none;
    background: var(--secondary-color);
    height: 22px;
    width: 40px;
    color: var(--primary-color);
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    &:focus {
        outline: none;
    }

    padding-left: 5px;

    &[type="text"] {
        padding-left: 8px;
    }
}

.icon {
    width: 16px;
    height: 16px;
    fill: var(--svg-fill-color);
}

.btn_cancel {
    height: 22px;
    width: 30px;
    display: flex;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    background: var(--secondary-color);
    border-left: none;
}
.btn_check {
    height: 22px;
    width: 30px;
    display: flex;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    background: var(--secondary-color);
    border-radius: 0 6px 6px 0;
    border-left: none;
}
