.story {
    position: absolute;
    z-index: var(--modal-z-index);
    background: var(--secondary-color);
    width: 100px;
    height: 117px;
    left: -100px;
    top: -27px;
    border-radius: 6px;
    box-shadow: 0 0 10px var(--box-shadow-color);
}

.variables_list {
    list-style: none;
    overflow: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
    background: var(--secondary-color);
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: var(--scroll-track-color);
        border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
        height: 20px;
        border-radius: 15px;
        background-color: var(--scroll-thumb-color);
    }
}

.variable {
    height: 40px;
    width: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background: var(--third-color);
    }
}

.active {
    background: var(--third-color);
    &:hover {
        background: var(--third-color);
    }
}
