.button {
    cursor: pointer;
    color: var(--btn-color);
}

.clear {
    background: none;
    border: none;
    color: var(--btn-color);
}

.register {
    background-color: #5570f1;
    color: var(--btn-color);
    width: 180px;
    height: 55px;
    border: none;
    border-radius: 6px;
}
