.button {
  cursor: pointer;
}
.clear {
  background: none;
  border: none;
}
.register {
  background-color: #5570f1;
  color: #ffff;
  cursor: pointer;
  width: 180px;
  height: 55px;
  border: none;
  border-radius: 6px;
}
