.sidebar {
    height: calc(100vh - var(--header-height));
    width: var(--sidebar-width);
    background: var(--sidebar-bg-color);
    position: relative;
    transition: width 0.3s;
}

.sidebar_bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    background: var(--sidebar-bottom-color);
    height: 60px;
}

.collapse_icon {
    width: 20px;
    height: 20px;
    rotate: 180deg;
    transition: 0.3s rotate;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    &_icon {
        rotate: 0deg;
        transition: 0.3s rotate;
    }
}
