.form {
    width: 500px;
    height: 260px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--kanban-new-card-border-color);

    .btn_close {
        width: 20px;
        height: 20px;
    }
}

.form_center {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 60px;
    border-bottom: 1px solid var(--kanban-new-card-border-color);
    gap: 25px;

    .input {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid var(--kanban-new-card-border-color);
        color: var(--primary-color);
        background: var(--kanban-new-card-bg);

        &:focus {
            outline: none;
            border-color: var(--kanban-new-card-border-color);
            box-shadow: 0 0 5px var(--kanban-new-card-btn-box-shadow);
        }
    }
}

.form_bottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
    height: 100%;

    .btn_cancel {
        padding: 6px;
        width: 65px;
        background: var(--kanban-new-card-btn-bg);
        border: 1px solid var(--kanban-new-card-border-color);
        border-radius: 7px;
        color: var(--primary-color);
    }

    .btn_save {
        width: 65px;
        padding: 6px;
        color: #fff;
        background: #1677ff;
        box-shadow: 0 2px 0 var(--kanban-new-card-btn-box-shadow);
        border: 1px solid var(--kanban-new-card-border-color);
        border-radius: 7px;
        color: var(--primary-color);
    }
}
