@import "./styles/agenda.scss";
@import "./styles/event.scss";
@import "./styles/month.scss";
@import "./styles/reset.scss";
@import "./styles/styles.scss";
@import "./styles/time-column.scss";
@import "./styles/time-grid.scss";
@import "./styles/toolbar.scss";
@import "./styles/variables.scss";
.calendar_wrapper {
    background: white;
    width: 750px;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
}
