.card {
    width: 350px;
    height: 150px;
    padding: 5px 20px;
    border-radius: 0 7px 7px 0;
    position: relative;
    cursor: pointer;
}
.title {
    font-weight: 600;
}
.desc {
    font-weight: 400;
    width: 400px;
}
.active {
    background: white;
    &::before {
        background-color: rgb(0, 199, 229);
        border-radius: 0.3rem 0px 0px 0.3rem;
        bottom: 0px;
        content: "";
        left: 0px;
        position: absolute;
        top: 0px;
        width: 0.5rem;
    }
}
