.app.dark {
  --bg-color: rgb(105, 105, 236);
  --primary-color: rgb(25, 0, 255);
  --secondary-color: rgb(81, 199, 219);

  --invert-primary-color: rgb(0, 0, 0);
  --invert-secondary-color: rgb(218, 235, 68);
}
