.app_dark_theme {
    --bg-color: #181818;
    --primary-color: rgb(255 255 255);
    --secondary-color: #222;
    --third-color: #3b3b3b; //    --sidebar-active-bg-color,--sidebar-hover-color
    --fourth-color: #cecdcd;
    --border-color: #ff0000;
    --delete-color: rgb(248, 147, 147);
    --link-color: #5570f1;
    --box-shadow-color: #22222218;
    --low-priority-color: #5fff81;
    --medium-priority-color: #fdfb60;
    --high-priority-color: #fd6060;
    --scroll-track-color: #3b3b3b;
    --scroll-thumb-color: white;
    // header
    --header-bg-color: #121212;
    --header-btn-color: white;
    --header-btn-bg-color: #5570f1;
    --header-btn-border-color: #5570f1;

    // sidebar
    --sidebar-bg-color: #222;
    --sidebar-bottom-color: #121212;
    --auth-bg-color: rgb(26 26 26);
    --sidebar-active-color: #fff;
    --sidebar-logout-hover-color: rgba(255, 0, 0, 0.514);

    // overview
    --overview-stats-item-bg-color: white;

    // modal
    --modal-bg-color: #3b3b3b;

    //svg fill {
    --svg-fill-color: white;

    //calendar
    --calendar-active-border-color: green;
    --calendar-active-bg-color: blue;
    --calendar-today-color: #33f10c;
}
