.app_light_theme {
    --bg-color: #f0f2f5;
    --primary-color: rgb(0 0 0);
    --secondary-color: #fff;
    --third-color: #d9d9d9;
    --fourth-color: #cecdcd;
    --border-color: #e2e4e2;
    --delete-color: rgb(248, 147, 147);
    --link-color: #5570f1;
    --box-shadow-color: #22222218;
    --low-priority-color: #5fff81;
    --medium-priority-color: #fdfb60;
    --high-priority-color: #fd6060;
    --scroll-track-color: #fff;
    --scroll-thumb-color: #1e65fe;

    // header
    --header-bg-color: rgb(255 255 255);
    --header-btn-bg-color: #5570f1;
    --header-btn-border-color: #5570f1;
    --header-btn-signup-color: #5570f1;
    --header-btn-signin-color: #ffffff;

    // sidebar
    --sidebar-bg-color: #f7f8f9;
    --sidebar-bottom-color: rgb(255 255 255);
    --sidebar-active-bg-color: #e6f4ff;
    --sidebar-active-color: #1677ff;
    --sidebar-hover-color: #d9d9d9;
    --sidebar-logout-hover-color: rgba(255, 0, 0, 0.514);

    // dashboard
    --dashboard-card-bg-color: white;
    --dashoard-card-border-color: #5570f1;

    // overview
    --overview-stats-item-bg-color: white;

    // modal
    --modal-bg-color: white;

    //notifictaion
    --notification-success-color: #5fff81;
    --notification-error-color: #fd6060;

    //svg fill {
    --svg-fill-color: black;

    //calendar
    --calendar-today-color: #89deff;
    --calendar-off-range-color: #ebebeb;
}
