.app.light {
  --bg-color: #f0f2f5;
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 255, 255);
  --link-color: #5570f1;
  --invert-primary-color: rgb(25, 0, 255);
  --invert-secondary-color: rgb(81, 199, 219);

  //header
  --header-bg-color: rgb(255, 255, 255);
  --header-btn-color: white;
  --header-btn-bg-color: #5570f1;
  --header-btn-border-color: #5570f1;
  --header-btn-inverted-color: #5570f1;
  --header-btn-inverted-bg-color: white;
  --header-btn-inverted-border-color: #5570f1;
  //header modal
  --header-modal-bg-color: white;
  --header-modal-settings-color: black;
  --header-modal-btn-hover-settings-color: rgba(0, 0, 0, 0.048);
  --header-modal-btn-hover-logout-color: rgba(255, 0, 0, 0.048);

  //sidebar
  --sidebar-bg-color: #f7f8f9;
  --sidebar-bottom-color: rgb(255, 255, 255);

  --auth-bg-color: rgb(255, 255, 255);
}
