.story {
    position: absolute;
    z-index: var(--modal-z-index);
    background: white;
    width: 100px;
    height: 117px;
    left: -100px;
    top: -27px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0 0 0 / 41.8%);
}

.variables_list {
    list-style: none;
    overflow: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 10px 0;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
        height: 20px;
        border-radius: 15px;
        background-color: #1e65fe;
    }
}

.variable {
    height: 40px;
    width: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Low:hover {
    background: #5fff81;
    color: black;
}

.Medium:hover {
    background: #fdfb60;
    color: black;
}

.High:hover {
    background: #fd6060;
    color: black;
}

.Low_active {
    background: #5fff81;
    color: black;
}

.Medium_active {
    background: #fdfb60;
    color: black;
}

.High_active {
    background: #fd6060;
    color: black;
}
