.story {
    position: absolute;
    z-index: var(--modal-z-index);
    background: var(--secondary-color);
    width: 100px;
    height: 117px;
    left: -100px;
    top: -27px;
    border-radius: 6px;
    box-shadow: 0 0 10px var(--box-shadow-color);
}

.variables_list {
    list-style: none;
    overflow: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.variable {
    height: 40px;
    width: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Low {
    &_active {
        background: var(--low-priority-color);
    }
    &:hover {
        background: var(--low-priority-color);
        color: black;
    }
}
.Medium {
    &_active {
        background: var(--medium-priority-color);
    }
    &:hover {
        background: var(--medium-priority-color);
        color: black;
    }
}
.High {
    &_active {
        background: var(--high-priority-color);
    }
    &:hover {
        background: var(--high-priority-color);
        color: black;
    }
}
