.overview {
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
}

.stats {
    display: flex;
    gap: 40px;
    &_tasks {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;

        &_chart {
            width: 350px;
            height: 350px;
        }
    }

    &_members_list {
        ul {
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 2px;
            overflow: auto;
            height: 350px;

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {
                background-color: #c1c1c1;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #5570f1;
            }
        }
    }
}
