.sidebar_buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 70px;
    width: 100%;
    gap: 7px;

    svg {
        flex: none;
    }

    button {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0 5px;
        border-radius: 7px;
        height: 40px;
    }

    span {
        font-weight: 400;
        font-size: 20px;
    }

    &_settings {
        fill: var(--primary-color);

        &:hover {
            background-color: var(--header-modal-btn-hover-settings-color);
        }

        span {
            color: var(--primary-color);
            overflow: hidden;
        }
    }

    &_logout {
        &:hover {
            background-color: var(--header-modal-btn-hover-logout-color);
        }

        span {
            color: red;
            overflow: hidden;
        }
    }
}

.sidebar_buttons_modal {
    width: 100px;
    height: 40px;
    right: -111px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(0 0 0 / 41.8%);

    &::after {
        content: "";
        position: absolute;
        border: 10px solid transparent;
        border-right: 10px solid var(--invert-primary-color);
        left: -19px;
        top: 10px;
    }
}

.collapsed {
    button {
        padding: 0 25px 0 18px;
        transition: 0.4s all ease;
    }
}
