.projectheader {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 7px;

    .title {
        font: var(--font-l);
        font-weight: 600;
    }
}

.projectheader_top {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 100%;

    .projectheader_left {
        display: flex;
        flex-direction: column;
        height: 100px;
        margin-top: 20px;

        &_bottom {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .projectheader_right {
        display: flex;
        align-items: center;
        height: 100px;
        gap: 20px;

        &_users {
            display: flex;
            width: 145px;

            &_user {
                display: flex;
                font-weight: 600;
                border-radius: 50px;
                background-color: #fff;
                border: 1px solid #5570f1;
                height: 44px;
                width: 44px;
                align-items: center;
                justify-content: center;
                margin-right: -18px;
            }
        }
    }

    .projectheader_progressbar {
        width: 300px;
        background-color: #e4e4e4;
        border-radius: 5px;
        overflow: hidden;

        &_line {
            height: 10px;
            background-color: #5570f1;
            text-align: center;
            line-height: 10px;
            color: white;
        }

        &_text {
            background: none;
            font-size: 14px;
            color: #313131;
            font-weight: 500;
        }
    }
}

.projectheader_bottom {
    padding: 0;
    display: flex;
    gap: 20px;
    list-style: none;

    li {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: black;
            box-sizing: border-box;
            height: 25px;

            &:hover {
                color: #5570f1;
            }
        }
    }

    .active {
        border-bottom: 2px solid #5570f1;
    }
}
