.projectheader {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 7px;

    .title {
        font: var(--font-l);
        font-weight: 600;
    }
}

.projectheader_top {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 100%;

    .projectheader_left {
        display: flex;
        flex-direction: column;
        height: 100px;
        margin-top: 20px;

        &_bottom {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .projectheader_right {
        display: flex;
        align-items: center;
        height: 100px;
        gap: 20px;

        &_users {
            display: flex;
            width: 200px;
        }
        &_users_plus {
            display: flex;
            align-items: center;
            border-radius: 50%;
            border: 1px solid var(--border-color);
            height: 24px;
            width: 24px;
            font-size: 16px;
            font-weight: 600;
        }
    }

    .projectheader_progressbar {
        width: 300px;
        background-color: var(--third-color);
        border-radius: 5px;
        overflow: hidden;

        &_line {
            height: 10px;
            background-color: var(--primary-color);
            text-align: center;
            line-height: 10px;
            color: white;
        }

        &_text {
            background: none;
            font-size: 14px;
            color: var(--primary-color);
            font-weight: 500;
        }
    }
}

.projectheader_bottom {
    padding: 0;
    display: flex;
    gap: 20px;
    list-style: none;

    li {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: black;
            box-sizing: border-box;
            height: 25px;

            &:hover {
                color: #5570f1;
            }
        }
    }

    .active {
        border-bottom: 2px solid #5570f1;
    }
}
