.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding: 0 29px;
    background-color: var(--header-bg-color);
}

.header_left {
    img {
        width: 60px;
        height: 60px;
    }
}
.header_username {
    font: var(--font-l);
}
.header_right_Authed {
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;

    &_photo {
        background-color: #5570f1;
        border-radius: 50px;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    svg {
        width: 44px;
        height: 44px;
        cursor: pointer;
    }

    &_name {
        font-weight: 500;
        cursor: pointer;
    }
}

.header_right_nonAuthed {
    max-width: 265px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;

    a {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        text-decoration: none;
    }

    .signin {
        color: var(--header-btn-color);
        background: var(--header-btn-bg-color);
        border: 1px solid var(--header-btn-border-color);
    }

    .signup {
        color: var(--header-btn-inverted-color);
        background: var(--header-btn-inverted-bg-color);
        border: 1px solid var(--header-btn-inverted-border-color);
    }
}

.logout_btn {
    &:hover {
        background-color: var(--header-modal-btn-hover-logout-color);
    }

    span {
        color: red;
    }
}

.settings_btn {
    &:hover {
        background-color: var(--header-modal-btn-hover-settings-color);
    }

    span {
        color: var(--header-modal-settings-color);
    }
}
