.row {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 280px;
    gap: 15px;
    align-items: center;
    position: relative;
}

.row_top {
    background: transparent;
    border-bottom: 1px solid var(--kanban-row-border-color);
    width: 268px;

    svg {
        fill: var(--svg-fill-color);
    }

    &_title {
        font-size: 18px;
    }

    &_btn {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: gray;
            border-radius: 15px;
        }
    }
}

.row_top_wrapper {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_top_buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.row_items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row_add {
    width: 260px;
}

.row_modal {
    width: 165px;
    height: 100px;
    top: 40px;
    right: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(0 0 0 / 41.8%);

    &::after {
        content: "";
        position: absolute;
        border: 10px solid transparent;
        border-bottom: 10px solid var(--kanban-row-info-bg-color);
        left: 74px;
        top: -16px;
    }
}

.row_modal_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;

    button {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
        height: 30px;
        padding: 0 10px;
        border-radius: 7px;
    }

    span {
        font-size: 15px;
        font-weight: 400;
    }

    &_edit {
        &:hover {
            background: var(--kanban-row-info-bg-hover-color);
        }
    }

    &_delete_cards {
        span {
            color: red;
        }

        svg {
            fill: red;
        }

        &:hover {
            background: rgb(255 161 161);
        }
    }

    &_delete_row {
        span {
            color: red;
        }

        svg {
            fill: red;
        }

        &:hover {
            background: rgb(255 161 161);
        }
    }
}
