.backlog_item {
    display: flex;
    background: var(--secondary-color);
    height: 44px;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
    justify-content: flex-end;
    color: var(--primary-color);
}

.item_block {
    display: flex;
    flex-direction: column;
    position: relative;

    &_info {
        font-size: 12px;
        color: var(--fourth-color);
        height: 11px;
        line-height: 9px;
    }

    &_content {
        width: fit-content;
        cursor: pointer;
    }
}

.title {
    width: 100%;
    border-right: 1px solid var(--border-color);
    padding-left: 6px;
}

.story {
    max-width: 150px;
    min-width: 150px;
    border-right: 1px solid var(--border-color);
    padding-left: 6px;
}

.priority {
    max-width: 180px;
    min-width: 180px;
    border-right: 1px solid var(--border-color);
    padding-left: 6px;

    p {
        width: 85px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }
}

.status {
    max-width: 170px;
    min-width: 170px;
    padding-left: 6px;
}

.Low {
    background: var(--low-priority-color);
    color: black;
}

.Medium {
    background: var(--medium-priority-color);
    color: black;
}

.High {
    background: var(--high-priority-color);
    color: black;
}
