.info {
    position: absolute;
    z-index: var(--siderbar-info-z-index);
    background: var(--kanban-row-info-bg-color);
}

.info_wrapper {
    color: var(--primary-color);
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
}
