.editBlock {
    display: flex;
    align-items: center;
}

.input_edit {
    border: 1px solid var(--edit-task-border);
    background: var(--edit-task-bg);
    color: var(--primary-color);
    border-radius: 6px 0 0 6px;
    border-right: none;
    width: 575px;
    &:focus {
        outline: none;
    }

    padding-left: 5px;

    &[type="text"] {
        padding-left: 8px;
    }
}

.icon {
    width: 18px;
    height: 18px;
}

.btn {
    height: 26px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--edit-task-bg);
    border: 1px solid var(--edit-task-border);
    border-radius: 0 6px 6px 0;
    border-left: none;
    svg {
        fill: var(--svg-fill-color);
    }
}
