.dashboard_card {
    width: 280px;
    height: 180px;
    background: var(--secondary-color);
    border-radius: 6px;
    box-shadow: 0 0 0 var(--box-shadow-color);
    transition: 0.4s box-shadow ease;
    &:hover {
        box-shadow: 0 0 10px var(--box-shadow-color);
        transition: 0.4s box-shadow ease;
    }
}

.dashboard_card_wrapper {
    padding: 10px;
}

.dashboard_card_top {
    display: flex;
    justify-content: space-between;

    &_left {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_title {
            font-size: 28px;
            color: var(--primary-color);
            line-height: 1.1;
            word-break: break-all;
            width: 215px;
        }
    }

    &_right {
        position: relative;
    }
}

.dashboard_card_bottom {
    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
